<html layout:decorate="~{layout}">
<meta charset="UTF-8">
<th:block layout:fragment="block">
	<div class="container my-2">

		<div class="row justify-content-center">
			<div class="col-2">
				<img src="/picture/LibraryLogo.png" alt="Kütüphane Logosu"
					width="150" height="150">
			</div>
			<div class="col-4 align-self-center">
				<h1>Kütüphane Uygulaması</h1>
			</div>
		</div>

		<div class="row justify-content-center" style="margin-top: 50px;">
			<div class="col-2">
				<img src="/picture/AdminLogin.png" alt="Yönetici Giriş" width="65"
					height="65" class="center"> <a
					th:href="@{/login}"
					class="btn btn-primary btn-smb mb-3 center">Yönetici Giriş</a>
			</div>
			<div class="col-2">
				<img src="/picture/MemberRegister.png" alt="Üye Kayıt" width="65"
					height="65" class="center"> <a th:href="@{/registration}"
					class="btn btn-primary btn-smb mb-3 center">Üye Kayıt</a>
			</div>
			<div class="col-2">
				<img src="/picture/MemberLogin.png" alt="Üye Giriş" width="65"
					height="65" class="center"> <a th:href="@{/login}"
					class="btn btn-primary btn-smb mb-3 center">Üye Giriş</a>
			</div>
		</div>


	</div>
	</th:block>
</html>