<html layout:decorate="~{layout}">
<meta charset="UTF-8">
<th:block layout:fragment="block">
	<div class="container my-2">
		<h1>Yayın Evi Listesi</h1>
		<hr>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Yayin Evi Id</th>
					<th>Yayin Evi Adı</th>
					<th>Açıklama</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="yayinEvi : ${listYayinEvi}">
					<td th:text="${yayinEvi.id}"></td>
					<td th:text="${yayinEvi.publisherName}"></td>
					<td th:text="${yayinEvi.declaration}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</th:block>
</html>