<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Kitap Listesi</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
		<h1>Yazar Listesi</h1>
		<hr>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Yazar Id</th>
					<th>Yazar Adı</th>
					<th>Açıklama</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="yazar : ${listYazar}">
					<td th:text="${yazar.id}"></td>
					<td th:text="${yazar.authorName}"></td>
					<td th:text="${yazar.declaration}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>