<html layout:decorate="~{layout}">
<meta charset="UTF-8">
<th:block layout:fragment="block">
	<div class="container">
		<h1>Kitap Bilgileri</h1>
		<hr>

		<form action="#" th:action="@{/saveKitapNew}" th:object="${kitap}"
			method="POST">

			<input type="text" th:field="*{bookName}" placeholder="Kitap adı"
				class="form-control mb-4 col-4" required> <input type="text"
				th:field="*{bookSubname}" placeholder="Kitap alt adı"
				class="form-control mb-4 col-4" required> <input type="text"
				th:field="*{bookSeriesName}" placeholder="Kitap seri adı"
				class="form-control mb-4 col-4" required> <input type="text"
				th:object="${author}" th:field="*{authorName}" placeholder="Yazar"
				class="form-control mb-4 col-4" required> <input type="text"
				th:object="${publisher}" th:field="*{publisherName}" placeholder="Yayın Evi"
				class="form-control mb-4 col-4" required> <input type="text"
				th:field="*{isbnNo}" placeholder="İsbn numarası"
				class="form-control mb-4 col-4" required> <input type="text"
				th:field="*{declaration}" placeholder="Açıklama"
				class="form-control mb-4 col-4" required>

			<button type="submit" class="btn btn-info col-2">Kitap Kayıt</button>
		</form>
	</div>
</th:block>
</html>