<html layout:decorate="~{layout}">
<meta charset="UTF-8">
<th:block layout:fragment="block">
	<div class="container">
		<h1>Yayın Evi Bilgileri</h1>
		<hr>

		<form action="#" th:action="@{/newSaveYayinEvi}" th:object="${yayinEvi}"
			method="POST">

			<input type="text" th:field="*{publisherName}"
				placeholder="Yayın evi İsmi" class="form-control mb-4 col-4"
				required> <input type="text" th:field="*{declaration}"
				placeholder="Açıklama" class="form-control mb-4 col-4" required>

			<button type="submit" class="btn btn-info col-2">Yayın Evi
				Ekle</button>
		</form>
	</div>
</th:block>
</html>