<html layout:decorate="~{layout}">
<meta charset="UTF-8">
<th:block layout:fragment="block">
	<div class="container">
		<h1>Yazar Bilgileri</h1>
		<hr>

		<form action="#" th:action="@{/newSaveYazar}" th:object="${yazar}"
			method="POST">

			<input type="text" th:field="*{authorName}" placeholder="Yazar İsmi"
				class="form-control mb-4 col-4" required> <input type="text"
				th:field="*{declaration}" placeholder="Açıklama"
				class="form-control mb-4 col-4" required>

			<button type="submit" class="btn btn-info col-2">Yazar Ekle</button>
		</form>
	</div>
</th:block>
</html>