<html layout:decorate="~{layout}">
<meta charset="UTF-8">
<th:block layout:fragment="block">
	<div class="container my-2">
		<h1>Üye Listesi</h1>
		<hr>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Üye adı</th>
					<th>Üye email</th>
					<th>Üye kullanıcı adı</th>
					<th>Üye şifre</th>
					<th>İşlem</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="kullanici : ${listKullanici}">
					<td th:text="${kullanici.firstName}"></td>
					<td th:text="${kullanici.lastName}"></td>
					<td th:text="${kullanici.email}"></td>
					<td th:text="${kullanici.password}"></td>
					<td><a th:href="@{/showFormForUyeUpdate/{id}(id=${kullanici.id})}"
						class="btn btn-danger">Güncelle</a></td>

				</tr>
			</tbody>
		</table>
	</div>
</th:block>
</html>