<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Üye Güncelleme</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>
<body>
	<div class="container">
		<h1>Üye Güncelleme</h1>
		<hr>

		<form action="#" th:action="@{/yoneticiSaveUye}" th:object="${uye}"
			method="POST">

			<input type="text" th:field="*{id}" th:readonly="readonly"
				class="form-control mb-4 col-4" /  required> <input
				type="text" th:field="*{name}" class="form-control mb-4 col-4"
				required> <input type="text" th:field="*{email}"
				class="form-control mb-4 col-4" required> <input type="text"
				th:field="*{userName}" class="form-control mb-4 col-4" required>

			<input type="text" th:field="*{password}"
				class="form-control mb-4 col-4" required>

			<button type="submit" class="btn btn-info col-2">Üye
				Güncelle</button>

		</form>

		<hr>
	</div>
</body>
</html>