<html layout:decorate="~{layout}">
<meta charset="UTF-8">
<th:block layout:fragment="block">
	<div class="container">
		<h1>Üye Güncelleme</h1>
		<hr>

		<form action="#" th:action="@{/yoneticiSaveUye}" th:object="${uye}"
			method="POST">

			<input type="text" th:field="*{id}" th:readonly="readonly"
				class="form-control mb-4 col-4" /  required> <input
				type="text" th:field="*{name}" class="form-control mb-4 col-4"
				required> <input type="text" th:field="*{email}"
				class="form-control mb-4 col-4" required> <input type="text"
				th:field="*{userName}" class="form-control mb-4 col-4" required>

			<input type="text" th:field="*{password}"
				class="form-control mb-4 col-4" required>

			<button type="submit" class="btn btn-info col-2">Üye
				Güncelle</button>

		</form>

		<hr>
	</div>
</th:block>
</html>