<html layout:decorate="~{layout}">
<meta charset="UTF-8">
<th:block layout:fragment="block">
	<div class="container my-2">
		<h1>Kitap Listesi</h1>
		<hr>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Kitap id</th>
					<th>Kitap adı</th>
					<th>Kitap alt adı</th>
					<th>kitap seri adı</th>
					<th>yazar</th>
					<th>yayın evi</th>
					<th>isbn numarası</th>
					<th>açıklama</th>
					<th>İşlem</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="kitap : ${listKitap}">
					<td th:text="${kitap.id}"></td>
					<td th:text="${kitap.bookName}"></td>
					<td th:text="${kitap.bookSubname}"></td>
					<td th:text="${kitap.bookSeriesName}"></td>
					<td th:text="${kitap.author}"></td>
					<td th:text="${kitap.publisher}"></td>
					<td th:text="${kitap.isbnNo}"></td>
					<td th:text="${kitap.declaration}"></td>
					<td><a
						th:href="@{/showFormForKitapUpdate/{id}(id=${kitap.id})}"
						class="btn btn-danger">Güncelle</a></td>

				</tr>
			</tbody>
		</table>
	</div>
</th:block>
</html>