<html layout:decorate="~{layout}">
<meta charset="UTF-8">
<th:block layout:fragment="block">
	<div class="container my-2">

		<div class="row">
			<div class="col-3">
				<h1>Kitap Listesi</h1>
			</div>
			<div class="col-2">
				<h1>
					<a th:href="@{/kitapSearchForm}" class="btn btn-primary">Kitap
						Ara</a>
				</h1>
			</div>
			<div class="col-2">
				<h1>
					<a th:href="@{/yazar}" class="btn btn-primary">Yazar Listesi</a>
				</h1>
			</div>
			<div class="col-2">
				<h1>
					<a th:href="@{/yayinevi}" class="btn btn-primary">Yayın Evi
						Listesi</a>
				</h1>
			</div>

		</div>
		<h1></h1>
		<body>
	<div class="container my-2">
		<table border="1" class="table table-striped table-responsive-md">
			<thead th:replace="arka.html :: fields(theadFields)">
			</thead>
			<tbody th:replace="arka.html :: tableBody(listKitap=${listKitap})">
			</tbody>
		</table>
	</div>
</body>
	</div>
</th:block>
</html>