<html layout:decorate="~{layout}">
<meta charset="UTF-8">
<th:block layout:fragment="block">
	<div class="container">
		<div class="alert alert-danger" role="alert" th:text="${error}"
			th:if="${error}"></div>
		<h1>Yönetici Giriş</h1>
		<hr>
		<form action="#" th:action="@{/showYoneticiPage}"
			th:object="${yonetici}" method="POST">

			<input type="text" th:field="*{userName}"
				placeholder="Üye Kullanıcı Adı" class="form-control mb-4 col-4"
				required> <input type="text" th:field="*{password}"
				placeholder="Üye Şifre" class="form-control mb-4 col-4" required>

			<button type="submit" class="btn btn-info col-2">Giriş</button>
		</form>
	</div>
</th:block>
</html>